# Task 1.

### Install Jupyter notebook and run the first program and share the screenshot of the output.

In [48]:
print("hello World")

hello World

### Write a Python program to accept the user's first and last name and then getting them printed in the reverse order with a space between first name and last name.

#### Attempt:1

In [49]:
first_name = input("Enter the first name: ")
last_name = input("Enter the last name: ")

Enter the first name: Adil
Enter the last name: Anwar

In [50]:
space = ' '

In [51]:
print(last_name+space+first_name)

Anwar Adil

### Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * ((r)^3)

In [52]:
pi = 3.14

In [53]:
r = int(input("Enter the radius of sphere: "))

Enter the radius of sphere: 4

In [54]:
volume = 4/3*pi*r**3

In [55]:
print(volume)

267.94666666666666

### Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [56]:
Num =[]
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        print(i)
        Num.append(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

In [57]:
Num

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

In [ ]:
# not able to convert the above output into horizontal line with comma seperated values.

# Task 2.

### Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [129]:
Num2=[]
i = 1
while i<=10:  
    Numb =input("Enter a number: ")
    print(Numb)
    Num2.append(Numb)
    i=i+1
print(Num2)

Enter a number: 1
1
Enter a number: 5
5
Enter a number: 6
6
Enter a number: 78
78
Enter a number: 49
49
Enter a number: 54
54
Enter a number: 26
26
Enter a number: 21
21
Enter a number: 54
54
Enter a number: 5
5
['1', '5', '6', '78', '49', '54', '26', '21', '54', '5']

In [130]:
print(Num2)

['1', '5', '6', '78', '49', '54', '26', '21', '54', '5']

### Write a Python program to reverse a word after accepting the input from the user.

In [61]:
Sam= input("Enter a word: ")

Enter a word: HelloWorld

In [62]:
Sam[::-1]

'dlroWolleH'

### Write a Python Program to print the given string in the format specified in the sample output.
#### Input
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

#### Sample Output:

In [63]:
#WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN,! SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens

In [64]:
#WE, THE PEOPLE OF INDIA,
      #having solemnly resolved to constitute India into a SOVEREIGN, !
             #SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
              #and to secure to all its citizens

In [93]:
text ='WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, ! SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens'

In [94]:
text.index('A')

22

In [95]:
len(text)

163

In [127]:
text.index('and')

130

In [128]:
text.index('!')

88

In [123]:
print(text[0:24]) 
print('    ',text[24:89]) 
print('           ',text[89:129])
print('            ',text[129:])

WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute India into a SOVEREIGN, !
             SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
              and to secure to all its citizens

### Create the below pattern using nested for loop in Python.

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [80]:
d='* '
for i in range(5):
    print(d*i)
for i in range(5,0,-1):
        print(d*i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*